@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-logo {
    width: 120px;
    margin-left: -37%;
    position: absolute;
    margin-top: -3%;
}

img {
    border: 0;
}

.layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}

.section {
    text-align:center;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
}

#menu li:nth-child(4) {
    margin-top: 30px;
}

.one h6 {
    font-size: 20px;
    color: rgb(231, 231, 231);
}

.one .layer p {
    position: absolute;
    color: #fff;
    top: 250%;
    left: 90%;
}

#menu {
    display: flex;
	position: fixed;
    align-items: center;
	top: 80px;
	left: 50%;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
    text-align: center;
}

#menu li {
	margin: 40px;
}

#menu li a{
	color: rgb(0, 0, 0);
    font-size: 15px;
	display: block;
    text-decoration: none;
}

.fa-search {
    margin-right: 18px;
}

i {
    color: black;
    font-size: 15px;
}


#menu li a:after {
    display: block;
    content: '';
    border-bottom: solid 2px rgb(0, 0, 0);
    margin-top: 3px;
    transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}

#menu li a:hover:after {
    transform: scaleX(1); /*a 속성에 hover시 기존 크기로*/
}

#menu li:nth-child(4) a:after {
    display: none;
}

.one .layer {
    margin-top: -4%;
}

.one .layer hr {
    border-color: #000;
    width: 100px;
}

.one .layer h1 {
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.one .layer h6 {
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
}

/* two css */

.card {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

.card:hover .after {
    left: 0;
}

.after {
    position: absolute;
    top: 0;
    left: 180px;
    transition: left 1s;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
}

.header-name {
    margin-top: 5%;
}

.two .two-wrap {
    display: flex;
}

.two .two-wrap h1 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15%;
    line-height: 30px;
} 

.two span {
    color: rgb(186, 186, 186);
    margin-left: 5px;
    margin-right: 5px;
}

.two h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(126, 126, 126);
}

.two p {
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 15px;
}

.two .two-list {
    margin-left: -5%;
}

.two .two-list li {
    text-align: left;
    font-weight: bold;
    line-height: 25px;
}

.two .two-list li:nth-child(2),
.two .two-list li:nth-child(3) {
    margin-top: 12%;
}

.two .two-title {
    position: absolute;
    left: 7.7%;
    top: 18%;
    font-size: 40px;
    font-weight: bold;
}

.two {
    position: relative;
}

.icon li {
    display: inline-block;
}

.two .skill p {
    margin-top: -20px;;
}

.icon li i {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.skill-ob {
    display: flex;
}

.good-icon i {
    margin-top: 3px;
}

.good-icon,
.usually-icon {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 150px;
    position: absolute;
    top: 40%;
}

.fa-angle-left {
    left: 2%;
}

.fa-angle-right {
    left: 30%;
}

/* two layout */

.three {
    background-color: rgb(115, 115, 115);
    position: relative;
}

.alan-img {
    position: absolute;
    height: 900px;
    right: 0;
    margin-top: -200px;
    z-index: 100;
}

.three h1 {
    background: linear-gradient(to top, rgb(237, 168, 0) 50%, transparent 50%);
    font-size: 80px;
    margin-top: -7%;
    font-weight: bold;
}

.three .ipad {
    position: absolute;
    height: 350px;
    right: 25%;
    margin-top: 150px;
}

.three span {
    color: rgb(237, 168, 0);
    font-size: 17px;
}

.three p {
    font-family: 'Nanum Myeongjo', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}

/* three layout */


.four {
    position: relative;
}

.four .layer {
    background-image: url("./resourse/iphone\ memo.jpg");
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
}

.four-title {
    position: absolute;
    top: 48%;
    left: 7%;
    color: black;
    font-size: 35px;
    background: linear-gradient(to top, rgb(237, 168, 0) 50%, transparent 50%);
}

.four h1 {
    font-weight: bold;
}

.layer ul {
    display: flex;
}

.balloon {  
    position: relative; 
    width: 400px; 
    height: 50px;
    background:rgba(237, 168, 0, 0.7); 
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding-top: 5px;
    font-weight: 600;
}

.balloon:after { 
    border-top: 0px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid rgba(237, 168, 0, 0.7); 
    content:""; 
    position: absolute;
    top: -10px;
    left: 200px;  
}

.make-sub {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-right: 0%;
}

.make-sub1 {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-right: 10%;
}

.screen {
    width: 400px;
    margin-top: 10px;
}

.name2 {
    position: absolute;
    margin-left: 34%;
    top: 20%;
}

.name1 {
    top: 20%;
}

.ad h1 {
    top: 53%;
}

.dis h1 {
    top: 73%;
}

.make h1,
.ad h1,
.dis h1 {
    font-size: 20px;
    color: rgb(90, 90, 90);
    position: absolute;
    left: 27%;
}

.balloon:nth-child(2) {
    height: 30px;
}

.balloon:nth-child(3) {
    left: 100px;
    top: 20px;
}

.emoji {
    width: 150px;
}

.ad,
.dis {
    margin-right: 12%;
    margin-top: -1%;
}

.dis {
    margin-top: -40px;
}

.ad .emoji,
.dis .emoji {
    margin-top: 80px;
    margin-left: -110%;
}

.ad li:nth-child(3) {
    margin-left: 10px;
}

.ad p,
.dis p {
    border: 1px solid rgb(237, 168, 0);
    border-radius: 15px;
    padding: 30px 80px;
    position: absolute;
    margin-top: -100px;
    margin-left: -30px;
    z-index: -100;
    color: #000;
    font-weight: 600;
}


.dis li:nth-child(3) {
    margin-left: 10px;
}


/* 푸터 css */

.footer {
    background-color: rgb(33, 50, 72);
    display: flex;
    align-items: center;
	height: 100px;
	z-index: 70;
	width: 100%;
    text-align: center;
}

.footer li {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    margin-top: 8px;
}

.footer li:nth-child(3) {
    margin-left: 50px;
}

.footer li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.footer li i {
    font-size: 23px;
    color: #fff;
}

.footer-logo {
    width: 100px;
}



.fp-prev,
.fp-next {
    display: none;
}

@media (max-width:768px) {
    #menu {
        display: flex;
        flex-direction: column;
    }

    #menu li:nth-child(1) {
        margin-left: -35%;
    }

    #menu li:nth-child(2),
    #menu li:nth-child(3),
    #menu li:nth-child(4),
    #menu li:nth-child(5) {
        display: none;
    }

    
    .alan-img {
        position: absolute;
        height: 400px;
        right: 0;
        top: 190%;
        bottom: 0%;
        z-index: 100;
    }

    .three .ipad {
        position: absolute;
        height: 250px;
        right: 25%;
        margin-top: 280px;
    }

    .ad li:nth-child(3) {
        margin-top: 100px;
    }

    .dis li:nth-child(3) {
        margin-top: 130px;
    }

    .four-title {
        display: none;
    }

    
    .ad h1 {
        top: 43%;
        right: 20%;
    }

    .dis h1 {
        top: 69%;
        right: 20%;
    }

    .ad,
    .dis {
        margin-right: 35%;
       
    }

    .name2,
    .name1 {
        display: none;
    }

    .screen {
        width: 250px;
        margin-top: 60%;
        margin-left: 20%;
    }

    .make-sub {
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        margin-right: 0%;
    }


}